<div [@routerTransition]>
    <app-page-header [heading]="'Documents'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-6">

            <form>
                <fieldset class="form-group">
                    <label>Document Name</label>
                    <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="document.Name">
                </fieldset>

                <div class="form-group">
                    <label>Document Type</label>
                    <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="document.Type">
                        <option>Drivers License (DL)</option>
                        <option>SSN</option>
                        <option>Tax Document</option>
                        <option>State ID</option>
                        <option>Rental Agreement</option>
                        <option>Bank Statement</option>option>
                    </select>
                </div>


                <fieldset class="form-group">
                    <label for="exampleInputFile">Select Document</label>
                    <input type="label" type="file" class="form-control-file" (change)="showPreviewImage($event)" id="exampleInputFile">
                </fieldset>
                <fieldset class="form-group">
                    <label for="exampleInputFile">Biometrics</label>
                    <img src="../../..//assets/images/digital_fingerprint.jpg" style="margin-left: 20px" width="50" height="50" class="imgPlaceholder">
                </fieldset>


                <fieldset class="form-group">
                    <label>Description</label>
                    <textarea type="textarea" [ngModelOptions]="{standalone: true}" class="form-control" rows="3" [(ngModel)]="document.Description"></textarea>
                </fieldset>

                <div class="col-lg-6" style="top:20px">
                    <button type="submit" class="btn btn-primary" (click)="UploadDocument()">Submit</button>
                    <button type="reset" style="margin-left: 15px" class="btn btn-secondary">Reset</button>
                </div>
            </form>

        </div>

        <div class="col-lg-6">
            <fieldset class="form-group">
                <img [src]="localUrl" width="500" height="400" *ngIf="localUrl" class="imgPlaceholder">
            </fieldset>
        </div>

        <div class="col-lg-6" style="margin-top:30px">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Document Name</th>
                        <th>Document Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of documents">
                        <td>{{ c.Name }}</td>
                        <td>{{ c.Type }}</td>
                        <td>{{ c.Description }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <!-- /.row -->
</div>