<h1><b>Our Products</b></h1>
<div class="row">
    <div class="col-xl-4 col-lg-6">
        <div>
            <a target="_self" href="/financial-calculators/budget-calculator.aspx">
                <div class="icon_calculator icon_left"></div>
                <h4 data-equalizer-watch="financial_tool" style="height: 50px;">Checking Accounts</h4>
                <ul>
                    <li>US Citizens and resident aliens 18 and older can apply</li>
                    <li>Social Security number</li>
                    <li>Driver's license or state ID number</li>
                    <li>Current contact information (e.g. address, phone number, email)</li>
                    <li>A check, credit card, or debit card to fund your account</li>
                </ul>
                <h4 data-equalizer-watch="financial_tool" style="height: 50px;">Documents</h4>
                <ul>
                    <li>Address Proof</li>
                    <li>Social Security number Document</li>
                    <li>Driver's license or state ID number</li>

                </ul>
                <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="btn btn-primary">
                    <i class="fa fa-file-o"></i>&nbsp;
                    <span>Upload Documents</span>
                </a>
            </a>
        </div>
    </div>

    <div class="col-xl-4 col-lg-6">
        <div>
            <a target="_self" href="https://www.citizensbank.com/money-tips/checking/switching-banks.aspx">
                <div class="header_icon icon_piggy icon_left icon_left"></div>
                <h4 data-equalizer-watch="financial_tool" style="height: 50px;">Credit Card</h4>
                <ul>
                    <li>US Citizens and resident aliens 18 and older can apply</li>
                    <li>Social Security number</li>
                    <li>Driver's license or state ID number</li>
                    <li>Current contact information (e.g. address, phone number, email)</li>
                    <li>A check, credit card, or debit card to fund your account</li>
                </ul>
                <h4 data-equalizer-watch="financial_tool" style="height: 50px;">Documents</h4>
                <ul>
                    <li>Address Proof</li>
                    <li>Social Security number Document</li>
                    <li>Driver's license or state ID number</li>

                </ul>
                <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="btn btn-primary">
                    <i class="fa fa-file-o"></i>&nbsp;
                    <span>Upload Documents</span>
                </a>
            </a>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6">
        <div>
            <a target="_self" href="https://www.citizensbank.com/money-tips/checking/switching-banks.aspx">
                <div class="header_icon icon_piggy icon_left icon_left"></div>
                <h4 data-equalizer-watch="financial_tool" style="height: 50px;">Online and Mobile Banking</h4>
                <ul>
                    <li>US Citizens and resident aliens 18 and older can apply</li>
                    <li>Social Security number</li>
                    <li>Driver's license or state ID number</li>
                    <li>Current contact information (e.g. address, phone number, email)</li>
                    <li>A check, credit card, or debit card to fund your account</li>
                </ul>
                <h4 data-equalizer-watch="financial_tool" style="height: 50px;">Documents</h4>
                <ul>

                    <li>Social Security number Document</li>
                    <li>Driver's license or state ID number</li>
                    &nbsp;
                </ul>
                <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="btn btn-primary">
                    <i class="fa fa-file-o"></i>&nbsp;
                    <span>Upload Documents</span>
                </a>
            </a>
        </div>
    </div>
</div>